version: 2.1

jobs:
  say-hello:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: "Say hello"
          command: "echo Hello, World!"
      - setup_remote_docker:
          docker_layer_caching: true #
      - run: "docker images"
      - run: "docker build . -t 123"
      - run: "docker images"

workflows:
  say-hello-workflow:
    jobs:
      - say-hello
